*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.blog{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  flex-direction: column;
  background-color: white;
  gap: 0.2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;
  color: #3e3d49;
}
.image-wrapper{
  height: 16rem;
  width: 100%;
  position: relative;
}
.tag{
  position: absolute;
  top: 4%;
  left: 3%;
  background-color: #f38643;
  padding: 0.3rem 0.6rem;
  color: white;
  border-radius: 5px;
}
.image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content{
  padding: 0.7rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.excerpt{
  font-size: 0.85rem;
}
hr{
  margin: 0.4rem;
}
.author{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-content{
  display: flex;
  gap: 0.4rem;
}
.author-content-details{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.author .author-content img{
  border-radius: 50%;
}
.author .author-content h4, p{
  font-size: 0.85rem;
}
.date{
  font-size: 1rem;
}